html {
  font-family: Merriweather, serif;
  box-sizing: border-box;
  line-height: 1.5;

}


*, *::before, *::after {
  box-sizing: inherit;
}

.left {
  float: left;
  width: 40px;
  height: auto;
}

.right {
  float: right;
  width: 40px;
  height: auto;

}

h1 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.home {
  display: inline-block;
  color: #fff;
}

.home:hover {
  background-color: #a63f38;
}

.cereals {
  display: inline-block;
  color: #fff;
}

.cereals:hover {
  background-color: #a63f38;
}

.legumes {
  display: inline-block;
  color: #fff;
}

.legumes:hover {
  background-color: #a63f38;
}
