html {
  font-family: Merriweather, serif;
  box-sizing: border-box;
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body header {
  background-color: #d05c2e;
  padding: .4rem 0;
  margin: 0 0 .7rem;
}

.left {
  float: left;
  width: 40px;
  height: auto;
}

.right {
  float: right;
  width: 40px;
  height: auto;

}

h1 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.nav ul li {
  display: inline-block;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.nav:hover {
  background-color: #a63f38;
}

.nav li {
  float: inherit;
  width: 50%;
}
